---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <!-- Other head content -->
  </head>
  <body>
    {{ content }}
    <script src="{{ '/assets/js/_main.js' | relative_url }}"></script>
  </body>
</html>
